// Utilities for font styles and weights in app
@mixin poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

@mixin poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

@mixin poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}
